.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}

.userAvatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: white;
}

.userAvatar:hover {
  cursor: pointer;
}
