.currentChar {
  color: green;
}

.incorrectChar {
  color: red;
}

.correctChar {
  display: inline-block;
  position: relative;
}

.pressedChar {
  color: gray;
}

.correctChar::after {
  content: '|';
  position: absolute;
  right: -4px;
  top: 0;
  font-size: 30px;
  color: rgb(201, 5, 5);
  animation: blink 0.8s step-start infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.finishedWord {
  color: gray;
}
